body {
    background-color: black; 
    color: white;
    text-align: center;
    font-family: "open dislexic"
}
.logo {
    width: 100px;
    padding: 25px;
    padding-top:50px;
}
.logoTitle{
    font-size: 300%;
    color: white; 
}
@font-face {
    font-family: "open dislexic";
    src: url(../fonts/OpenDyslexic-Regular.otf);
}