#container{
    padding-bottom: 30em;
    background-image: url(../src/ballRender.png);
    background-color: black;
    background-position: center;
    background-size: cover;
}
a, a:link, a:visited {
    text-decoration: none;
}
a:hover{
    color: rgb(1, 49, 77);
    background-image: none;
    background-color: transparent;
}